<div class="row trai1">
  <p class="col-12 text-justify">Phân loại </p>
  <ul class="col-12 pl-5 text-justify">
    <li><a href=""><i class="fas fa-paw"></i> Thực phẩm tươi</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Thực phẩm khô</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Đồ ăn vặt</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Đồ uống</a></li>
  </ul>
</div>
<div class="row trai2">
  <p class="col-12 text-justify">Khu vực</p>
  <ul class="col-12 pl-5 text-justify">
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i>Đống Đa</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i>Tây Hồ</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i>Hai Bà Trưng</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i>Cầu Giấy</a></li>
  </ul>
</div>
